<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="index.css">
        <title>卍議事録ジェネレーター卍</title>
    </head>
    <body>
        <h1>卍議事録ジェネレーター卍</h1>
        <h2>★ 次第</h2>
        <div id="infoModel">
            ○ 記入日 : <input type="text" class="date" v-model="date" placeholder="2000.00.00(水)"><br>
            ○ 議事 : 氏名 <input type="text" v-model="stuName" placeholder="田所浩二"> 学籍番号 
            <input type="text" v-model="stuNum" placeholder="s00t000"><br>
            ○ 次回議事 : 氏名 <input type="text" v-model="nextStuName" placeholder="野獣先輩">
        </div>

        <h2>● 出席</h2>
        <table id="attendanceModel">
            <tr>
                <th class="gradeLabel">学年</th>
                <th class="attendanceLabel">出席者</th>
            </tr>
            <tr>
                <td class="grade">TR</td>
                <td><input type="text" class="attendance" v-model="TR" placeholder="あ、い、う、え、お"></td>
            </tr>
            <tr>
                <td class="grade">M2</td>
                <td><input type="text" class="attendance" v-model="M2" placeholder="あ、い、う、え、お"></td>
            </tr>
            <tr>
                <td class="grade">M1</td>
                <td><input type="text" class="attendance" v-model="M1" placeholder="あ、い、う、え、お"></td>
            </tr>
            <tr>
                <td class="grade">B4</td>
                <td><input type="text" class="attendance" v-model="B4" placeholder="あ、い、う、え、お"></td>
            </tr>
            <tr>
                <td class="grade">B3</td>
                <td><input type="text" class="attendance" v-model="B3" placeholder="あ、い、う、え、お"></td>
            </tr>
            <tr>
                <td class="grade">B2</td>
                <td><input type="text" class="attendance" v-model="B2" placeholder="あ、い、う、え、お"></td>
            </tr>
            <tr>
                <td class="grade">B1</td>
                <td><input type="text" class="attendance" v-model="B1" placeholder="あ、い、う、え、お"></td>
            </tr>
        </table>

        <h2>● 進行</h2>
        <div id="processModel">
            <input type="text" class="time" placeholder="19:00-21:00" v-model="inputTime">
            <input type="text" class="process" placeholder="活動内容" v-model="inputOverview">
            <button v-on:click="addProcess()">追加</button> <button v-on:click="deleteProcess()">削除</button><br>
            <ul style="list-style-type: circle;">
                <li v-for="process in processes">
                    {{ process.time + ' : ' + process.overview }}
                </li>
            </ul>
        </div>

        <h2>★ 事務連絡</h2>
        <div id="contact">
            <input type="text" placeholder="連絡内容" v-model="inputOverview"><br>
            <textarea cols="70" rows="10" v-model="inputDetail" placeholder="内容"></textarea><br>
            <button v-on:click="addContact()">追加</button> <button v-on:click="deleteContact()">削除</button>
            <ul>
                <li v-for="contact in contacts">
                    <h4>{{ contact.overview }}</h4>
                    {{ contact.detail }}
                </li>
            </ul>
        </div>

        <h2>★ 活動</h2>
        <div id="activityModel">
            <input type="text" placeholder="活動内容" v-model="inputOverview"><br>
            <textarea cols="70" rows="10" v-model="inputDetail" placeholder="内容"></textarea><br>
            <button v-on:click="addActivity()">追加</button> <button v-on:click="deleteActivity()">削除</button>
            <ul>
                <li v-for="activity in activities">
                    <h4>{{ activity.overview }}</h4>
                    {{ activity.detail }}
                </li>
            </ul>
        </div>

        <h2>■ 予定</h2>
        <div id="scheduleModel">
            <input type="text" class="date" placeholder="2000.00.00(水)" v-model="inputDate">
            <input type="text" class="time" placeholder="19:00-21:00" v-model="inputTime">            
            <input type="text" class="process" placeholder="活動内容" v-model="inputOverview">
            <button v-on:click="addSchedule()">追加</button> <button v-on:click="deleteSchedule()">削除</button>
            <ul style="list-style-type: circle;">
                <li v-for="schedule in schedules">
                    {{ schedule.date + ' ' + schedule.time + ' ' + schedule.overview }}
                </li>
            </ul>
        </div>
        <h2>■ 課外</h2>
        <div id="extraScheduleModel">
            <input type="text" class="date" placeholder="2000.00.00(月)" v-model="inputDate">
            <input type="text" class="process" placeholder="活動内容" v-model="inputOverview">
            <button v-on:click="addExtraSchedule()">追加</button> <button v-on:click="deleteExtraSchedule()">削除</button>
            <ul style="list-style-type: circle;">
                <li v-for="extraSchedule in extraSchedules">
                    {{ extraSchedule.date + ' ' + extraSchedule.overview}}
                </li>
            </ul>
        </div>
        <h2>■ 備考</h2>
        <div id="note">
            <textarea cols="70" rows="10" placeholder="内容" v-model="note"></textarea>
        </div>

        <h2>出力結果</h2>
        <div id="resultModel">
            <button v-on:click="generateProceeding()">出力</button><br>
            <textarea cols="70" rows="40" v-model="outputText"></textarea>
        </div>
        <script src="vue.min.js"></script>
        <script src="vm.js"></script>
        <script>
            window.addEventListener('beforeunload', function(e) {
                e.returnValue = 'チョマテヨ';
            }, false);
        </script>
    </body>
</html>