textarea {
    resize: none;
}

.gradeLabel {
    text-align: center
}

.attendanceLabel {
    width: 100%;
    text-align: center
}

.grade {
    text-align: center;
}

.date {
    width: 150px;
}
.time {
    width: 100px;
}

.overview {
    width: 300px;
}

