.date {
    width: 50px;
}

.grade {
    text-align: center;
}

.gradeLabel {
    width: 50px;
}

.attendance {
    width: 400px;
    height: 100%;
}

.attendanceLabel {
    width: 400px;
}

.time {
    width: 100px;
}

.order {
    width: 200px;
    height: 100%;
}

textarea {
    resize: none;
}

.schedule {
    width: 200px;
}